In [25]:
import tensorflow as tf
from PIL import Image 
import seaborn as sns
import numpy as np 
import pandas as pd
import os 
from tensorflow.keras.utils import to_categorical
from glob import glob 
import matplotlib.pyplot as plt

In [15]:
df=pd.read_csv('../data/archive/HAM10000_metadata.csv')

In [16]:
df.head()

     lesion_id      image_id   dx dx_type   age   sex localization
0  HAM_0000118  ISIC_0027419  bkl   histo  80.0  male        scalp
1  HAM_0000118  ISIC_0025030  bkl   histo  80.0  male        scalp
2  HAM_0002730  ISIC_0026769  bkl   histo  80.0  male        scalp
3  HAM_0002730  ISIC_0025661  bkl   histo  80.0  male        scalp
4  HAM_0001466  ISIC_0031633  bkl   histo  75.0  male          ear

In [17]:
df.dtypes

lesion_id        object
image_id         object
dx               object
dx_type          object
age             float64
sex              object
localization     object
dtype: object

In [18]:
df.describe()

               age
count  9958.000000
mean     51.863828
std      16.968614
min       0.000000
25%      40.000000
50%      50.000000
75%      65.000000
max      85.000000

In [19]:
df.isnull().sum()

lesion_id        0
image_id         0
dx               0
dx_type          0
age             57
sex              0
localization     0
dtype: int64

In [20]:
df['age'].fillna(int(df['age'].mean()),inplace=True)

/var/folders/kb/dgvlq6h13qsgr5p3klzp3vz80000gn/T/ipykernel_87042/2028790963.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(int(df['age'].mean()),inplace=True)

In [21]:
df.isnull().sum()

lesion_id       0
image_id        0
dx              0
dx_type         0
age             0
sex             0
localization    0
dtype: int64

In [22]:
lesion_type_dict={
    'nv':'Melanocytic nevi',
    'mel':'Melanoma',
    'bkl':'Benign Keratosis-like lesions',
    'bcc':'Basal cell carcinoma',
    'akiec':'Actiniv keratoses',
    'vasc':'Vasculr lesions',
    'df':'Dermatofibroma'


}


base_skin_dir = "data/archive"   # root of your dataset

imageid_path_dict = {
    os.path.splitext(os.path.basename(x))[0]: x
    for x in glob(os.path.join(base_skin_dir, "*", "*", "*.jpg"))
}

In [23]:
df['path']=df['image_id'].map(imageid_path_dict.get)
df['cell_type']=df['dx'].map(lesion_type_dict.get)
df['cell_type_idx']=pd.Categorical(df['cell_type']).codes
df.head()

,lesion_id,image_id,dx,dx_type,age,sex,localization,path,cell_type,cell_type_idx
0,HAM_0000118,ISIC_0027419,bkl,histo,80.0,male,scalp,None,Benign Keratosis-like lesions,2
1,HAM_0000118,ISIC_0025030,bkl,histo,80.0,male,scalp,None,Benign Keratosis-like lesions,2
2,HAM_0002730,ISIC_0026769,bkl,histo,80.0,male,scalp,None,Benign Keratosis-like lesions,2
3,HAM_0002730,ISIC_0025661,bkl,histo,80.0,male,scalp,None,Benign Keratosis-like lesions,2
4,HAM_0001466,ISIC_0031633,bkl,histo,75.0,male,ear,None,Benign Keratosis-like lesions,2

# image preprocessing

<h5 style="color:skyblue;">resizing of images because the original dimensions of 450 6003 take long time to process in netural network</h5>

In [24]:
n_smaples=5
fid,m_axs=plt.subplots(7,n_smaples,figsize=)

NameError: name 'plt' is not defined